h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Yeseva One";
}

.recipe-card, .container {
    margin: 8px;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.87);

    img {
        object-fit: cover;
        width: 100%;
        max-height: 600px;
    }

    .recipe-information-container {
        padding: 24px;
    }

    .recipe-details {
        display: flex;
        flex-direction: row;
        gap: 16px;
        margin-bottom: 8px;

        h3 {
            margin: 0px;
        }
    }

    h1 {
        color: #e9c46a;
        margin: 0px;
    }
    h2 {
        color: rgba(0, 0, 0, 0.54);
        margin: 0px;
        margin-bottom: 16px;
    }
    h5 {
        margin: 0px;
    }
    ol {
        counter-reset: incredient-counter;
        list-style: none;
        padding-left: 40px;
    }
    ol li {
        margin: 0 0 1rem 0;
        counter-increment: incredient-counter;
        position: relative;
    }
    ol li::before {
        content: counter(incredient-counter) ". ";
        color: #e9c46a;
        font-size: 24px;
        font-weight: bold;
        position: absolute;
        font-family: "Merriweather";
        --size: 32px;
        left: calc(-1 * var(--size) - 10px);
        line-height: var(--size);
        width: var(--size);
        height: var(--size);
        top: -10;
        text-align: center;
    }
}
hr {
    border-color: rgba(0, 0, 0, 0.12);
    margin: 48px -24px;
}

.recipe-card-v2 {
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.75fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "description image"
        "ingredients steps";
    .header {
        grid-area: "header";
    }

    .description {
        grid-area: "description";
    }

    .image {
        grid-area: "image";
    }

    .ingredients {
        grid-area: "ingredients";
    }

    .steps {
        grid-area: "steps";
    }
}

.recipe-card-v2 * {
    border: 1px solid red;
    position: relative;
}

.recipe-card-v2 *:after {
    content: attr(class);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.75fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Description Image"
      "Ingredients Steps";
  }
  
  .Description { grid-area: Description; }
  
  .Image { grid-area: Image; }
  
  .Ingredients { grid-area: Ingredients; }
  
  .Steps { grid-area: Steps; }
  
  
  html, body , .container {
    height: 100%;
    margin: 0;
  }
  
  /* For presentation only, no need to copy the code below */
  
  .container * {
    border: 1px solid red;
    position: relative;
  }
  
  .container *:after {
    content:attr(class);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  
  