<div class="drawer-header" fxLayout="row" fxLayoutAlign="start start">
    <div fxLayout="column">
        <h1>Recipes</h1>
        <p>This is a collection of recipes my wife and I like to cook or have tried.</p>
    </div>
    <div fxFlex></div>
    <button mat-button routerLink="/create">
        <mat-icon>add</mat-icon>
        Add Recipe
    </button>
</div>
<div
    class="search-bar"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="16px"
>
    <mat-icon>search</mat-icon>
    <input type="text" placeholder="Search Recipes" [(ngModel)]="searchQuery" />
</div>
<mat-selection-list class="recipes" #recipes [multiple]="false">
    <mat-list-option
        *ngFor="let recipe of getSearchResults()"
        [value]="recipe"
        routerLink="/recipe/{{recipe.slug}}"
    >
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
            <mat-icon matTooltip="Favorite Recipe!" class="favorite-icon" *ngIf="recipe.favorite">star</mat-icon>
            <mat-icon class="inactive-favorite-icon"*ngIf="!recipe.favorite">star_outline</mat-icon>
            <span>{{ recipe?.title }}</span>
        </div>
    </mat-list-option>
</mat-selection-list>
<div class="no-recipes" *ngIf="getSearchResults().length === 0">
    <p>Cannot find recipe, "{{ searchQuery }}"</p>
</div>
