@use "sass:color";
$red: #a11f53;
$blue: #2651a0;
$green: #025a4e;
$sea-green: #28915b;
$yellow: #bd9a19;
$orange: #c85c35;
$purple: #521945;
$pink: #a8399d;
$brown: #542821;
@mixin recipe-theme($color) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $color;
    }

    header {
        button {
            background: $color;
            color: white;
        }
    }

    .recipe-icon {
        background: $color;
    }

    .recipe-card,
    .container {
        ol li::before {
            color: $color;
        }
    }
}

@mixin red {
    .red-theme {
        background: #{rgb($red, 12%)};
        @include recipe-theme($red);
    }
}

@mixin green {
    .green-theme {
        background: #{rgb($green, 12%)};
        @include recipe-theme($green);
    }
}

@mixin blue {
    .blue-theme {
        background: #{rgb($blue, 12%)};
        @include recipe-theme($blue);
    }
}

@mixin yellow {
    .yellow-theme {
        background: #{rgb($yellow, 12%)};
        @include recipe-theme($yellow);
    }
}

@mixin purple {
    .purple-theme {
        background: #{rgb($purple, 12%)};
        @include recipe-theme($purple);
    }
}

@mixin pink {
    .pink-theme {
        background: #{rgb($pink, 12%)};
        @include recipe-theme($pink);
    }
}

@mixin brown {
    .brown-theme {
        background: #{rgb($brown, 12%)};
        @include recipe-theme($brown);
    }
}

@mixin orange {
    .orange-theme {
        background: #{rgb($orange, 12%)};
        @include recipe-theme($orange);
    }
}

@mixin sea-green {
    .sea-green-theme {
        background: #{rgb($sea-green, 12%)};
        @include recipe-theme($sea-green);
    }
}
